.mainBnrDiv{
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    background: #1A4C51;
}

.mainBnrTxt{
    width:30vw; color:white; font-size: 2em;
    margin-bottom: 0px;
}

.mainBnrImg{
    width: 40vh;
    border-radius: 4em;
}

@media screen and (max-width : 500px) {
    .mainBnrDiv{
        flex-direction: column;
        
    }
    .mainBnrTxt{
        margin-bottom: 50px;
        width: 80vw;
        font-size: 1em;
        
    }
}